<head>
    <!--<link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial+Rounded+MT+Bold&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/home.css" rel="stylesheet" />
    <link href="./css/estiloshome.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v76_294">
        <div class="v76_295">
            <div class="v76_296"></div><span class="v76_297">Quienes somos.</span>
            <div class="v76_298"></div><span class="v76_299">VentaSoft</span>
        </div>
        <div class="v76_300">
            <div class="v76_301"></div><span class="v76_302">Plataforma de ventas en linea para LatinoAmerica</span>
        </div>
        <div class="v76_303">
            <div class="v76_304"></div>
            <div class="v76_316">
                <div class="v76_317">
                    <div class="v76_318"></div><span class="v76_319">Deportes, Hogar, Autos ...</span>
                </div><span class="v76_320">Todo en --- >></span>
            </div>
            <div class="v76_345"></div>
            <div class="v76_347"></div>
            <div class="v76_348"></div>
        </div>
        <div class="v76_321">
            <div class="v76_322"></div><span class="v76_323">Menú</span>
            <div class="name"></div>
            <div class="v76_329">
                <div class="v76_330"></div><span class="v76_331">Login</span><span class="v76_332"></span>
            </div><span class="v76_349">Colombia</span>
            <div>
                <button class="buttonLogin" type="button" onclick="window.location.href='/Login'"> </button>
            </div>
            <div class="v76_350"></div>
            <div class="v76_346"></div>
        </div>
    </div>
</body>
