<head>
    <!--<link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />-->
    <script src="css/Funciones.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial+Rounded+MT+Bold&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/login.css" rel="stylesheet" />
    <link href="./css/estiloslogin.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="button1"><p><input type = "submit" value = "Login"></p></div>
</body>