<head>
    <!--<link rel="stylesheet" type="text/css" href="./css/estilos.css" media="screen" />-->
    <script src="css/Funciones.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial+Rounded+MT+Bold&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/login.css" rel="stylesheet" />
    <link href="./css/estiloslogin.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_2">
        <div class="v9_5">
            <div class="v2_5"></div><span class="v2_11">Login</span>
            <div class="v2_10"></div><span class="v2_9">VentaSoft</span>
        </div>
        <div class="v9_10">
            <div class="v2_63"></div><span class="v2_64">Ingresar a la plataforma</span>
        </div>
        <div class="v2_70">
            <form id= "login" method "post">
                <div class="v2_66"></div>
                <div class="v9_7">
                    <div class="v9_6"></div><span class="v2_82">LOGIN</span>
                </div>
                <div>
                    <div class="button1"><p><input type = "submit" value = "Login"></p></div>
                    <!--<button class="button1" type="button" onclick="ConfirmLogin()"> </button>-->
                </div>
                <div class="v2_89">
                    <div class="v2_90"></div><span class="v2_91">Cambiar password</span>
                </div>
                <div>
                    <button class="button2" type="button" onclick="ConfirmCambio()"> </button>
                </div>
                <div class="v2_73">
                    <div class="v46_28">
                        <div class="v2_74"></div><span class="v2_75">Password</span>
                    </div><span class="v2_76">Password</span>
                </div>
                <div class="password1"><p><input type = "password" name = "password" value = "" size="46ch" placeholder = "Ingresar la contraseña"></p></div>
                <!--<div class="password1"><p><input type = "password" Name="Password" id="pwd" size="46ch" placeholder="Ingrese contraseña minimo 8 caracteres"></p></div>-->
                <div class="v9_11">
                    <div class="v46_27">
                        <div class="v2_67"></div><span class="v2_68">email</span>
                    </div><span class="v2_69">Usuario</span>
                </div>
                <div class="usuario1"><p><input type "email" name = "email" value = "" size="46ch" placeholder= "Ingresar Email del usuario"></p></div>
                <!-- <div class="usuario1"><p><input type = "text" Name="Usuario" id="usr" size="46ch" placeholder="Ingrese nombre del usuario"></p></div>-->
            </form>
        </div>
        <div class="v43_3">
            <div class="v43_4"></div><span class="v43_5">Menú</span>
            <div class="name"></div>
            <div class="v43_7">
                <div class="v43_8"></div><span class="v43_9"></span><span class="v43_10"> Usuarios</span>
            </div>
            <div>
                <button class="buttonUsuarios" type="button" onclick="window.location.href='/Usuarios'"> </button>
            </div>
            <div class="v43_11">
                <div class="v43_12"></div><span class="v43_13">Login</span><span class="v58_36"></span>
            </div>
            <div>
                <button class="buttonLogin" type="button" onclick="window.location.href='/Login'"> </button>
            </div>
            <div class="v43_15">
                <div class="v43_16"></div><span class="v43_17"></span><span class="v43_18">Logout</span>
            </div>
            <div>
                <button class="buttonLogout" type="button" onclick="window.location.href='/'"> </button>
            </div>
            <div class="v43_19">
                <div class="v43_20"></div><span class="v43_21"></span><span class="v43_22">Ventas</span>
            </div>
            <div>
                <button class="buttonVentas" type="button" onclick="window.location.href='/Ventas'"> </button>
            </div>
            <div class="v43_23">
                <div class="v43_24"></div><span class="v43_25"></span><span class="v43_26">Productos</span>
            </div>
            <div>
                <button class="buttonProductos" type="button" onclick="window.location.href='/Productos'"> </button>
            </div>
        </div>
    </div>
</body>

<script type = "text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event => {
        event.preventDefault()
        fetch("/api/signin", {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data =>  {
            localStorage.setItem('token', data.token)
        })

    })
</script>