<head>
    <!--<link rel="stylesheet" type="text/css" href="css/estilos.css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/productos.css" rel="stylesheet" />
    <link href="./css/estilosproductos.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v76_120">
        <div class="v76_121">
            <div class="v76_122"></div><span class="v76_123">Nombre del usuario</span><span
                class="v76_124">Productos</span>
            <div class="v76_125"></div><span class="v76_126">VentaSoft</span>
        </div>
        <div class="v76_127">
            <div class="v76_128"></div><span class="v76_129">Menú</span>
            <div class="name"></div>
            <div class="v76_131">
                <div class="v76_132"></div><span class="v76_133"></span><span class="v76_134"> Usuarios</span>
            </div>
            <div>
                <button class="buttonUsuarios" type="button" onclick="window.location.href='/Usuarios'"> </button>
            </div>
            <div class="v76_135">
                <div class="v76_136"></div><span class="v76_137">Login</span><span class="v76_138"></span>
            </div>
            <div>
                <button class="buttonLogin" type="button" onclick="window.location.href='/Login'"> </button>
            </div>
            <div class="v76_139">
                <div class="v76_140"></div><span class="v76_141"></span><span class="v76_142">Logout</span>
            </div>
            <div>
                <button class="buttonLogout" type="button" onclick="window.location.href='/'"> </button>
            </div>
            <div class="v76_143">
                <div class="v76_144"></div><span class="v76_145"></span><span class="v76_146">Ventas</span>
            </div>
            <div>
                <button class="buttonVentas" type="button" onclick="window.location.href='/Ventas'"> </button>
            </div>
            <div class="v76_147">
                <div class="v76_148"></div><span class="v76_149"></span><span class="v76_150">Productos</span>
            </div>
            <div>
                <button class="buttonProductos" type="button" onclick="window.location.href='/Productos'"> </button>
            </div>
        </div>
        <div class="v76_151">
            <div class="v76_152"></div>
            <div class="v76_153"><span class="v76_154">Proveedor</span>
                <div class="v76_155">
                    <div class="v76_156"></div><span class="v76_157">Nombre del Proveedor</span><span
                        class="v76_158"></span>
                </div>
            </div>
            <div class="v76_159">
                <div class="v76_160">
                    <div class="v76_161"></div><span class="v76_162">dd/mm/aaaa</span>
                </div><span class="v76_163">Fecha</span>
            </div>
            <div class="v76_167">
                <div class="v76_168">
                    <div class="v76_169"></div><span class="v76_170">-</span>
                </div><span class="v76_171">Retirar</span>
            </div>
            <div class="v76_172">
                <div class="v76_173">
                    <div class="v76_174"></div><span class="v76_175">+</span>
                </div><span class="v76_176">Incluir</span>
            </div>
        </div>
        <div class="v76_177">
            <div class="v76_178"></div>
            <div class="v76_179"><span class="v76_180">Descripcion</span>
                <div class="v76_181">
                    <div class="v76_182"></div><span class="v76_183">Descripcion</span><span class="v76_184"></span>
                </div>
            </div>
            <div class="v76_185">
                <div class="v76_186">
                    <div class="v76_187"></div><span class="v76_188">0.00</span>
                </div><span class="v76_189">Precio compra $</span>
            </div>
            <div class="v76_190">
                <div class="v76_191">
                    <div class="v76_192"></div><span class="v76_193">0</span>
                </div><span class="v76_194">Cantidad</span>
            </div>
            <div class="name"></div>
            <div class="v76_196">
                <div class="v76_197">
                    <div class="v76_198"></div><span class="v76_199">0.00</span>
                </div><span class="v76_200">Precio venta $</span>
            </div>
            <div class="v76_201"><span class="v76_202">Codigo</span>
                <div class="v76_203">
                    <div class="v76_204"></div><span class="v76_205">Codigo</span><span class="v76_206"></span>
                </div>
            </div>
        </div>
    </div>
</body>
