<head>
    <!--<link rel="stylesheet" type="text/css" href="css/estilos.css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/usuarios.css" rel="stylesheet" />
    <link href="./css/estilosusuarios.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v76_208">
        <div class="v76_209">
            <div class="v76_210"></div><span class="v76_211">Nombre del administrador</span><span
                class="v76_212">Usuarios</span>
            <div class="v76_213"></div><span class="v76_214">VentaSoft</span>
        </div>
        <div class="v76_215">
            <div class="v76_216"></div><span class="v76_217">Menú</span>
            <div class="name"></div>
            <div class="v76_219">
                <div class="v76_220"></div><span class="v76_221"></span><span class="v76_222"> Usuarios</span>
            </div>
            <div>
                <button class="buttonUsuarios" type="button" onclick="window.location.href='/Usuarios'"> </button>
            </div>
            <div class="v76_223">
                <div class="v76_224"></div><span class="v76_225">Login</span><span class="v76_226"></span>
            </div>
            <div>
                <button class="buttonLogin" type="button" onclick="window.location.href='/Login'"> </button>
            </div>
            <div class="v76_227">
                <div class="v76_228"></div><span class="v76_229"></span><span class="v76_230">Logout</span>
            </div>
            <div>
                <button class="buttonLogout" type="button" onclick="window.location.href='/'"> </button>
            </div>
            <div class="v76_231">
                <div class="v76_232"></div><span class="v76_233"></span><span class="v76_234">Ventas</span>
            </div>
            <div>
                <button class="buttonVentas" type="button" onclick="window.location.href='/Ventas'"> </button>
            </div>
            <div class="v76_235">
                <div class="v76_236"></div><span class="v76_237"></span><span class="v76_238">Productos</span>
            </div>
            <div>
                <button class="buttonProductos" type="button" onclick="window.location.href='/Productos'"> </button>
            </div>
        </div>
        <div class="v76_239">
            <div class="v76_240"></div><span class="v76_242">Ingresar / retirar Usuarios del sistema</span>
            <div class="v76_252">
                <div class="v76_253">
                    <div class="v76_254"></div><span class="v76_255">-</span>
                </div><span class="v76_256">Retirar</span>
            </div>
            <div class="v76_257">
                <div class="v76_258">
                    <div class="v76_259"></div><span class="v76_260">+</span>
                </div><span class="v76_261">Incluir</span>
            </div>
        </div>
        <div class="v76_262">
            <div class="v76_263"></div>
            <div class="v76_247">
                <div class="v76_248">
                    <div class="v76_249"></div><span class="v76_250">dd/mm/aaaa</span>
                </div><span class="v76_251">Fecha nacimiento</span>
            </div>
            <div class="v76_264"><span class="v76_265">Nombres</span>
                <div class="v76_266">
                    <div class="v76_267"></div><span class="v76_268">Nombres</span><span class="v76_269"></span>
                </div>
            </div>
            <div class="v76_270">
                <div class="v76_271">
                    <div class="v76_272"></div><span class="v76_273">Apellidos</span><span class="v76_292"></span>
                </div><span class="v76_274">Apellidos</span>
            </div>
            <div class="v76_275">
                <div class="v76_276">
                    <div class="v76_277"></div><span class="v76_278">Ocupacion</span><span class="v76_246"></span>
                </div><span class="v76_279">Ocupacion</span>
            </div>
            <div class="v76_281">
                <div class="v76_282">
                    <div class="v76_283"></div><span class="v76_284">##########</span>
                </div><span class="v76_285">Telefono movil</span>
            </div>
            <div class="v76_286"><span class="v76_287">Cedula</span>
                <div class="v76_288">
                    <div class="v76_289"></div><span class="v76_290">##########</span><span class="v76_291"></span>
                </div>
            </div>
        </div>
    </div>
</body>