<head>
    <!--<link rel="stylesheet" type="text/css" href="css/estilos.css" media="screen" />-->
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rockwell&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Free&display=swap" rel="stylesheet" />
    <link href="./css/ventas.css" rel="stylesheet" />
    <link href="./css/estilosventas.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v76_3">
        <div class="v76_118">
            <div class="v76_5"></div><span class="v76_11">Nombre del vendedor</span><span class="v76_6">Ventas</span>
            <div class="v76_7"></div><span class="v76_8">VentaSoft</span>
        </div>
        <div class="v76_30">
            <div class="v76_31"></div><span class="v76_32">Menú</span>
            <div class="name"></div>
            <div class="v76_34">
                <div class="v76_35"></div><span class="v76_36"></span><span class="v76_37"> Usuarios</span>
            </div>
            <div>
                <button class="buttonUsuarios" type="button" onclick="window.location.href='/Usuarios'"> </button>
            </div>
            <div class="v76_38">
                <div class="v76_39"></div><span class="v76_40">Login</span><span class="v76_41"></span>
            </div>
            <div>
                <button class="buttonLogin" type="button" onclick="window.location.href='/Login'"> </button>
            </div>
            <div class="v76_42">
                <div class="v76_43"></div><span class="v76_44"></span><span class="v76_45">Logout</span>
            </div>
            <div>
                <button class="buttonLogout" type="button" onclick="window.location.href='/'"> </button>
            </div>
            <div class="v76_46">
                <div class="v76_47"></div><span class="v76_48"></span><span class="v76_49">Ventas</span>
            </div>
            <div>
                <button class="buttonVentas" type="button" onclick="window.location.href='/Ventas'"> </button>
            </div>
            <div class="v76_50">
                <div class="v76_51"></div><span class="v76_52"></span><span class="v76_53">Productos</span>
            </div>
            <div>
                <button class="buttonProductos" type="button" onclick="window.location.href='/Productos'"> </button>
            </div>
        </div>
        <div class="v76_117">
            <div class="v76_10"></div>
            <div class="v76_91"><span class="v76_89">Cliente</span>
                <div class="v76_102">
                    <div class="v76_87"></div><span class="v76_88">Nombre del Cliente</span><span
                        class="v76_90"></span>
                </div>
            </div>
            <div class="v76_97">
                <div class="v76_101">
                    <div class="v76_98"></div><span class="v76_99">0.00</span>
                </div><span class="v76_100">Total $</span>
            </div>
            <div class="v76_103">
                <div class="v76_104"></div><span class="v76_105">Ordenar</span>
            </div>
            <div class="v76_106">
                <div class="v76_115">
                    <div class="v76_107"></div><span class="v76_108">-</span>
                </div><span class="v76_109">Retirar</span>
            </div>
            <div class="v76_110">
                <div class="v76_114">
                    <div class="v76_111"></div><span class="v76_112">+</span>
                </div><span class="v76_113">Incluir</span>
            </div>
        </div>
        <div class="v76_85">
            <div class="v76_56"></div>
            <div class="v76_57"><span class="v76_60">Descripcion</span>
                <div class="v76_81">
                    <div class="v76_58"></div><span class="v76_59">Descripcion</span><span class="v76_61"></span>
                </div>
            </div>
            <div class="v76_62">
                <div class="v76_82">
                    <div class="v76_63"></div><span class="v76_64">0.00</span>
                </div><span class="v76_65">Costo Un ($)</span>
            </div>
            <div class="v76_66">
                <div class="v76_83">
                    <div class="v76_67"></div><span class="v76_68">0</span>
                </div><span class="v76_69">Cantidad</span>
            </div>
            <div class="name"></div>
            <div class="v76_71">
                <div class="v76_84">
                    <div class="v76_72"></div><span class="v76_73">0.00</span>
                </div><span class="v76_74">Subtotal $</span>
            </div>
            <div class="v76_75"><span class="v76_78">Codigo</span>
                <div class="v76_80">
                    <div class="v76_76"></div><span class="v76_77">Codigo</span><span class="v76_79"></span>
                </div>
            </div>
        </div>
    </div>
</body>