.button1{
    background-color:transparent;
    width: 164px;
    height: 41px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 294px;
    left: 210px;
}
.button2{
    background-color: transparent;
    width: 164px;
    height: 41px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 377px;
    left: 210px;
}
.usuario1{
    width: 359px;
    height: 47px;
    background:transparent;
    font-size: 36;
    color: rgb(160, 11, 11);
    position:absolute;
    top: 68px;
    left: 208px;
    cursor: pointer;
}
.password1{
    width: 359px;
    height: 47px;
    background:transparent;
    color: rgb(160, 11, 11);
    position:absolute;
    top: 190px;
    left: 208px;
    cursor: pointer;
    border-collapse: collapse;
}
.buttonUsuarios{
    background-color:transparent;
    width: 238px;
    height: 43px;
    color: rgba(40,75,90,0.699999988079071);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 448px;
    left: 34px;
}
.buttonVentas{
    background-color:transparent;
    width: 240px;
    height: 43px;
    color: rgba(40,75,90,0.699999988079071);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 271px;
    left: 32px;
}
.buttonProductos{
    background-color:transparent;
    width: 240px;
    height: 43px;
    color: rgba(40,75,90,0.699999988079071);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 359px;
    left: 32px;
}
.buttonLogin{
    background-color:transparent;
    width: 240px;
    height: 43px;
    color: rgba(40,75,90,0.699999988079071);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 184px;
    left: 29px;
}
.buttonLogout{
    background-color:transparent;
    width: 180px;
    height: 38px;
    color: rgba(40,75,90,0.699999988079071);
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    position:absolute;
    top: 619px;
    left: 57px;
}