* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v76_120 {
  width: 100%;
  height: 710px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v76_121 {
  width: 755px;
  height: 140px;
  background: url("../images/v76_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 300px;
  overflow: hidden;
}
.v76_122 {
  width: 755px;
  height: 140px;
  background: rgba(150,172,181,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v76_123 {
  width: 381px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 279px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_124 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 148px;
  font-family: Rock Salt;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_125 {
  width: 113px;
  height: 112px;
  background: url("../images/v76_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 27px;
  overflow: hidden;
}
.v76_126 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 111px;
  font-family: Rockwell;
  font-weight: Bold Italic;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v76_127 {
  width: 294px;
  height: 700px;
  background: url("../images/v76_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  overflow: hidden;
}
.v76_128 {
  width: 294px;
  height: 700px;
  background: rgba(16,134,184,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v76_129 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 50px;
  font-family: Rock Salt;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v76_131 {
  width: 239px;
  height: 37px;
  background: url("../images/v76_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 32px;
  overflow: hidden;
}
.v76_132 {
  width: 191px;
  height: 36px;
  background: rgba(40,75,90,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v76_133 {
  width: 45px;
  color: rgba(255,255,255,0.5);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_134 {
  width: 174px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_135 {
  width: 235px;
  height: 43px;
  background: url("../images/v76_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 32px;
  overflow: hidden;
}
.v76_136 {
  width: 192px;
  height: 36px;
  background: rgba(40,75,90,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 43px;
  overflow: hidden;
}
.v76_137 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 66px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_138 {
  width: 41px;
  color: rgba(255,255,255,0.5);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_139 {
  width: 214px;
  height: 38px;
  background: url("../images/v76_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 618px;
  left: 57px;
  overflow: hidden;
}
.v76_140 {
  width: 184px;
  height: 36px;
  background: rgba(40,75,90,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v76_141 {
  width: 41px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_142 {
  width: 196px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_143 {
  width: 240px;
  height: 37px;
  background: url("../images/v76_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 32px;
  overflow: hidden;
}
.v76_144 {
  width: 197px;
  height: 36px;
  background: rgba(40,75,90,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 42px;
  overflow: hidden;
}
.v76_145 {
  width: 44px;
  color: rgba(255,255,255,0.5);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_146 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 60px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_147 {
  width: 239px;
  height: 38px;
  background: url("../images/v76_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 32px;
  overflow: hidden;
}
.v76_148 {
  width: 198px;
  height: 36px;
  background: rgba(40,75,90,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 41px;
  overflow: hidden;
}
.v76_149 {
  width: 38px;
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v76_150 {
  width: 175px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 52px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_151 {
  width: 755px;
  height: 555px;
  background: url("../images/v76_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 300px;
  overflow: hidden;
}
.v76_152 {
  width: 755px;
  height: 555px;
  background: rgba(150,172,181,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v76_153 {
  width: 540px;
  height: 41px;
  background: url("../images/v76_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 183px;
  overflow: hidden;
}
.v76_154 {
  width: 115px;
  color: rgba(63,68,71,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_155 {
  width: 399px;
  height: 41px;
  background: url("../images/v76_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 135px;
  overflow: hidden;
}
.v76_156 {
  width: 392px;
  height: 30px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v76_157 {
  width: 252px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 19px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_158 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 359px;
  font-family: Font Awesome 5 Free;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_159 {
  width: 391px;
  height: 33px;
  background: url("../images/v76_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 213px;
  overflow: hidden;
}
.v76_160 {
  width: 280px;
  height: 32px;
  background: url("../images/v76_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  overflow: hidden;
}
.v76_161 {
  width: 280px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v76_162 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 21px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_163 {
  width: 65px;
  color: rgba(63,68,71,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_167 {
  width: 50px;
  height: 83px;
  background: url("../images/v76_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 16px;
  overflow: hidden;
}
.v76_168 {
  width: 50px;
  height: 56px;
  background: url("../images/v76_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v76_169 {
  width: 50px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v76_170 {
  width: 17px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v76_171 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 2px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v76_172 {
  width: 50px;
  height: 83px;
  background: url("../images/v76_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 15px;
  overflow: hidden;
}
.v76_173 {
  width: 50px;
  height: 56px;
  background: url("../images/v76_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v76_174 {
  width: 50px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v76_175 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Rockwell;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v76_176 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 7px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v76_177 {
  width: 656px;
  height: 458px;
  background: url("../images/v76_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 381px;
  overflow: hidden;
}
.v76_178 {
  width: 656px;
  height: 458px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v76_179 {
  width: 627px;
  height: 47px;
  background: url("../images/v76_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 22px;
  overflow: hidden;
}
.v76_180 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v76_181 {
  width: 399px;
  height: 47px;
  background: url("../images/v76_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 208px;
  overflow: hidden;
}
.v76_182 {
  width: 392px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v76_183 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 19px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_184 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 359px;
  font-family: Font Awesome 5 Free;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_185 {
  width: 625px;
  height: 47px;
  background: url("../images/v76_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 15px;
  overflow: hidden;
}
.v76_186 {
  width: 392px;
  height: 47px;
  background: url("../images/v76_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 217px;
  overflow: hidden;
}
.v76_187 {
  width: 392px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v76_188 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 21px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_189 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v76_190 {
  width: 616px;
  height: 47px;
  background: url("../images/v76_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 21px;
  overflow: hidden;
}
.v76_191 {
  width: 392px;
  height: 47px;
  background: url("../images/v76_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 213px;
  overflow: hidden;
}
.v76_192 {
  width: 392px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v76_193 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 24px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_194 {
  width: 153px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v76_196 {
  width: 606px;
  height: 47px;
  background: url("../images/v76_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 29px;
  overflow: hidden;
}
.v76_197 {
  width: 392px;
  height: 47px;
  background: url("../images/v76_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v76_198 {
  width: 392px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v76_199 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 26px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_200 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v76_201 {
  width: 626px;
  height: 47px;
  background: url("../images/v76_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 21px;
  overflow: hidden;
}
.v76_202 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 0px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v76_203 {
  width: 399px;
  height: 47px;
  background: url("../images/v76_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 211px;
  overflow: hidden;
}
.v76_204 {
  width: 392px;
  height: 47px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v76_205 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: Rockwell;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v76_206 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 359px;
  font-family: Font Awesome 5 Free;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
